.nav_container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  flex-direction: column;
  height: auto;
  background-color: #181818;
}

.btn_container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-family: "cocogoose";
  font-size: 25px;
  letter-spacing: -1px;
  margin-bottom: 15px;
}

.input_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoInputContainer {
  display: flex;
  margin-left: 40px;
}

.title {
  font-weight: 700;
  align-self: center;
  margin: 0 15px 0 0;
  padding: 10px;
  color: white;
}

.link {
  text-decoration: none;
}

.title:link {
  text-decoration: none;
}

.title:visited {
  color: white;
  text-decoration: none;
}

.activity {
  justify-self: flex-end;
  margin-right: 45px;
  border-radius: 40px;
  padding: 15px;
  border: none;
  background-color: #334eff;
  color: white;
  font-weight: 500;
  cursor: pointer;
}

.searchBar {
  padding: 10px 15px;
  margin: 15px;
  border: none;
  border-radius: 40px;
  color: #929292;
  font-weight: 500;
  width: 200px;
  max-width: 250px;
  transition: 0.5s linear;
  background-color: #3a3b3c;
}

.searchBar:focus {
  outline: none;
}

.selectInput {
  margin: 0;
  padding: 5px 10px 10px 5px;
  color: #929292;
  font-weight: 500;
  background-color: transparent;
  width: 170px;
  border: none;
  border-radius: 15px;
}

.input_bg {
  background-color: #3a3b3c;
  border-radius: 50px;
  display: flex;
  padding: 5px;
}

.labelAndSelect {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
  font-size: 15px;
  padding: 2px 20px;
  border-radius: 50px;
  transition: background-color 0.5s;
}

.labelAndSelect:hover {
  background-color: #272727;
}

label {
  font-weight: bold;
  margin: 10px 10px 0 8px;
}

.hidden {
  visibility: hidden;
}
