*{
  font-weight: 600;
}

.country_container {
  align-self: center;
  width: 75%;
  height: 750px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
}

.banner {
  width: auto;
  display: flex;
  height: fit-content;
  min-height: 425px;
  background-color: #343435;
  padding: 30px;
  border-radius: 20px;
  margin: 20px;
}

.container_img {
  width: 350px;
  height: 340px;
  margin-right: 20px;
}

.container_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  border-radius: 20px;
}

.main_info {
  width: auto;
  margin-left: 20px;
}

.country_name {
  background-color: #272727;
  text-transform: capitalize;
  text-align: start;
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
  margin: 0;
}

.titleInfo {
  color: white;
}

.info {
  background-color: #272727;
  color: #198cfe;
  padding: 10px;
  margin: 10px 0;
  text-align: start;
  letter-spacing: 2px;
  border-radius: 10px;
}

.separator {
  width: 2px;
  height: 330px;
  margin-top: 5px;
  background-color: #272727;
}

.population {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.boxModel {
  background-color: #272727;
  padding: 10px;
  border-radius: 10px;  
  min-width: 80px;
  margin-right: 10px;
  height: fit-content;
  
}

.value {
  padding: 10px;
  margin-right: 10px;
  letter-spacing: 1px;
  text-decoration: underline wavy 1px #198cfe;
}

.checkNoCheck {
  width: 30px;
  margin-top: 5px;
  margin-right: 10px;
  /* background-color: red; */
}

.green {
  color: #1c912f;
}

.red {
  color: #b41e1e;
}

.carousel_info {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.currencies {
  text-align: start;
}

.arrow {
  color: #929292;
}

.symbol {
  background-color: #272727;
  padding: 5px 10px;
  border-radius: 10px;
  margin-left: 5px;
}

.cca3 {
  margin-bottom: 0;
  margin-left: 10px;
  text-align: start;
  font-weight: 600;
  color: #929292;
}