.activities_container {
  width: 30%;
  text-align: start;
  align-self: flex-start;
  background-color: #343435;
  padding: 30px;
  border-radius: 20px;
  margin: 20px;
}

.cards_container{
  display: flex;
  flex-direction: column;
  padding: 10px 0 0 0;
  justify-content: space-between;
}

.activities_container h2 {
  background-color: #272727;
  padding: 10px;
  border-radius: 10px;  
  width: auto;
  margin-right: 10px;
  height: fit-content;
  margin: 0;
  font-size: 20px;
  
}

.activity_name {
  margin: 2px 10px 10px 10px;
  letter-spacing: 2px;
  color: #198cfe;
  font-weight: 600;
  text-decoration: underline wavy 1px #198cfe;
}

.activity_card {
  background-color: #272727;
  border: 1px solid #198bfe65;
  border-radius: 20px;
  margin-left: 0;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  padding: 5px 15px;
}


.separator {
  color: #929292;
}

.noActivity {
  border: 1px solid #fa3535;
  color: #fa3535;
  padding: 10px;
  border-radius: 10px;
}
